body {
	font-family: 'Helvetica Neue', 'Helvetica';
	font-size: 12px;
}

.page-box {	
	border: 1px solid black;
	padding: 10px;
	margin-bottom: 10px;
}

.raw-data {
	font-family: Courier, 'Lucida Console';	
}

.tooth-box {
	height: 40px;
	line-height: 40px;
	border: 1px solid #888;
	background-color: rgba(255, 204, 51, 1.0);
	margin-right: 10px;
	margin-bottom: 10px;
	text-align: center;
	
	&.up, &.down {
		width: 412px;
	}
	
	&.left, &.right {
		width: 200px;
		display: inline-block;
	}
}

.chart {
	margin-bottom: 10px;
}

.bar {
	height: 3px;
	margin-bottom:1px;
	background-color: blue;
	
	&.red {
		background-color: red;
	}
}