.title {
  font-size: 13px; }

.brush-3d {
  margin: 20px 100px;
  width: 50px;
  height: 50px;
  background-color: green;
  transform: perspective(100px); }

.raw-data {
  font-family: Courier, 'Lucida Console';
  font-size: 12px;
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 10px; }

.chart {
  margin-bottom: 10px; }

.bar {
  height: 3px;
  margin-bottom: 1px;
  background-color: blue; }
  .bar.red {
    background-color: red; }
