body {
  font-family: 'Helvetica Neue', 'Helvetica';
  font-size: 12px;
  background-color: #eee;
  margin: 0; }

.page-box {
  padding: 10px;
  margin-bottom: 10px; }

.raw-data {
  border: 1px solid black;
  font-family: Courier, 'Lucida Console';
  margin: 10px; }

.teeth-box {
  background-color: white;
  width: 666px;
  border: 0 none;
  position: relative;
  margin: 10px auto 200px auto; }

.tooth-box {
  line-height: 40px;
  background-color: #ffcc33;
  text-align: center; }
  .tooth-box.up {
    background-image: url(img/zuby-horni.png);
    -webkit-clip-path: polygon(639px 6px, 625px 146px, 594px 191px, 480px 244px, 357px 269px, 288px 269px, 126px 224px, 20px 176px, 18px 6px);
    width: 656px;
    height: 277px;
    z-index: 1;
    margin-bottom: -74px; }
  .tooth-box.down {
    background-image: url(img/zuby-spodni.png);
    -webkit-clip-path: polygon(634px 272px, 633px 150px, 599px 86px, 502px 44px, 387px 7px, 257px 9px, 67px 83px, 31px 143px, 20px 271px);
    width: 656px;
    height: 277px;
    z-index: 1;
    margin-top: -79px; }
  .tooth-box.left {
    background-image: url(img/left.png);
    width: 462px;
    height: 219px;
    margin-left: 8px;
    display: inline-block; }
  .tooth-box.right {
    background-image: url(img/right.png);
    width: 194px;
    height: 219px;
    margin-left: -12px;
    display: inline-block; }

.complete {
  width: 256px;
  background-color: white;
  border: 6px solid white;
  border-radius: 10px;
  margin-left: -134px;
  top: 192px;
  left: 50%;
  position: absolute; }
  .complete .japonec {
    background-image: url(img/complete.jpg);
    width: 256px;
    height: 192px; }
  .complete .tweet {
    margin-top: 6px;
    text-align: center; }

.progress {
  height: 3px;
  background-color: turquoise; }

.indicator {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 12px; }
  .indicator .led {
    float: left;
    width: 4px;
    height: 4px;
    visibility: hidden; }
  .indicator.good .led {
    background-color: red; }
  .indicator.bad .led {
    background-color: #888; }
  .indicator.up .b, .indicator.up .d, .indicator.up .f {
    visibility: visible; }
  .indicator.down .d, .indicator.down .f, .indicator.down .h {
    visibility: visible; }
  .indicator.left .b, .indicator.left .d, .indicator.left .h {
    visibility: visible; }
  .indicator.right .b, .indicator.right .f, .indicator.right .h {
    visibility: visible; }
  .indicator.inner-up .b, .indicator.inner-up .g, .indicator.inner-up .i {
    visibility: visible; }
  .indicator.inner-down .a, .indicator.inner-down .c, .indicator.inner-down .h {
    visibility: visible; }
  .indicator.no-data .e {
    visibility: visible; }

.chart {
  margin-bottom: 10px; }

.bar {
  height: 3px;
  margin-bottom: 1px;
  background-color: blue; }
  .bar.red {
    background-color: red; }

.qualifies b {
  color: red; }

.logo {
  background-image: url(img/logo-50.png);
  width: 50px;
  height: 47px;
  position: absolute;
  top: 10px;
  right: 10px; }

.links {
  background-color: white;
  margin: 10px;
  padding: 10px; }
