<html>

    <head>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="complex_array.js"></script>
		<script type="text/javascript" src="fft.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link href="app.css" rel="stylesheet" type="text/css">
    </head>

    <body ng-app="SmartToothBrush">
      <div ng-controller="ToothBrushCtrl">
		<div class="raw-data">
			<div ng-repeat="(dir, stats) in progress"><b>{{ dir }}</b>: {{ stats.count}} / {{ stats.points }}</div>
		</div>
		<div class="raw-data">
			<p>Number of records: {{ data.length }}</p>
			<p>Last request: sent: {{ lastRequestSent }} resp: {{ lastRequestResp }} since: {{ lastCreatedAt }} objs: {{ lastBatchCount}} samples: {{ lastSampleCount }}</p>
			<p>Action: {{ currentFrame }} of {{ totalFrames}} - {{ currentPoint }}</p>
			<div class="chart">
				<div ng-repeat="number in fftResults track by $index" class="bar" style="width:{{floor(number * 50)}}px" title="{{number}}"></div>
			</div>
			<div class="chart">
				<div ng-repeat="number in fftSource track by $index" class="bar red" style="width:{{floor(number * 50)}}px" title="{{number}}"></div>
			</div>
			<div ng-repeat="a in activity"><b>{{ a.direction }}</b> {{a.frequency}} Hz, {{ a.intensity}} intensity, avgAccel: {{ a.avgAccel }}</p>
</div>
		</div>
      </div>
    </body>
</html>
