<html>

    <head>
		<meta charset="utf-8">
		<script type="text/javascript" src="angular.js"></script>
		<script type="text/javascript" src="complex_array.js"></script>
		<script type="text/javascript" src="fft.js"></script>
		<script type="text/javascript" src="app.js"></script>
		<link href="app.css" rel="stylesheet" type="text/css">
    </head>

    <body ng-app="SmartToothBrush">
	  <div class="logo"></div>
      <div ng-controller="ToothBrushCtrl">
		<div class="page-box teeth-box">
			<div class="tooth-box up" style="{{ pointToColor(points.up) }}" title="{{points.up}}"></div>
			<div class="tooth-box left" style="{{ pointToColor(points.left) }}" title="{{points.left}}"></div><!--
			--><div class="tooth-box right" style="{{ pointToColor(points.right) }}" title="{{points.right}}"></div>
			<div class="tooth-box down" style="{{ pointToColor(points.down)}}" title="{{points.down}}"></div>
			<div class="progress" style="{{ pointsToWidth() }}" ng-show="!cleaningComplete"></div>
			<div class="complete" ng-show="cleaningComplete">
				<div class="japonec"></div>
				<div class="tweet">
					<a class="twitter-share-button"
					   href="https://twitter.com/intent/tweet"
					   data-size="large"
					   data-text="Yeah, I feel great! I have just perfectly cleaned my teeth!"
					   data-hashtags="smarttoothbrush,czhackathon"
					   data-count="none"
					   data-url="none"
					>Tweet</a>
				</div>
			</div>
			<div class="indicator {{ indiClass }}">
				<div class="led a"></div>
				<div class="led b"></div>
				<div class="led c"></div>
				<div class="led d"></div>
				<div class="led e"></div>
				<div class="led f"></div>
				<div class="led g"></div>
				<div class="led h"></div>
				<div class="led i"></div>
			</div>
		</div>
		<div class="page-box raw-data">
			<h3>Telemetry</h3>
			<p>Cleaning ID: {{ cleaningId }}</p>
			<p>Last request: sent: {{ lastRequestSent }} resp: {{ lastRequestResp }} since: {{ lastCreatedAt }}
				objs: {{ lastBatchCount}}/{{ lastBatchServerCount}} samples: {{ lastSampleCount }}</p>
			<p>Action: {{ currentFrame }} of {{ data.length }} - {{ currentPoint }}</p>
			<div class="chart">
				<div ng-repeat="number in fftResults track by $index" class="bar" style="width:{{floor(number * 50)}}px" title="{{number}}"></div>
			</div>
			<div class="chart">
				<div ng-repeat="number in fftSource track by $index" class="bar red" style="width:{{floor(number * 50)}}px" title="{{number}}"></div>
			</div>
			<div ng-repeat="a in activity" ng-class="{qualifies: a.qualifies}"><b>{{ a.direction }}</b> {{a.frequency}} Hz, {{ a.intensity}} intensity, avgAccel: {{ a.avgAccel }}</p>
</div>
		</div>
		<div class="page-box links">
			<a href="https://www.youtube.com/watch?v=g1kGo_19vHg" target="_blank">Video</a> |
			<a href="photos.html" target="_blank">Photos</a>
		</div>
      </div>
    </body>
</html>
